<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title><%= service %></title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <header>
    <h1><%= service %></h1>
    <p>作者: <%= author %></p>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
